html,
body {
    height: 100vh;
    max-height: 100vh;
}

textarea:focus,
textarea:active {
    outline: 0px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.message-user pre {
    background-color: var(--bs-dark-bg-subtle) !important;
    border-radius: var(--bs-border-radius) !important;
}

.message-assistant pre {
    background-color: var(--bs-tertiary-bg) !important;
    border-radius: var(--bs-border-radius) !important;
}

pre code {
    padding: 5px;
    overflow: auto;
}

pre {
    max-width: 60vw;
}

img {
    width: 50%;
    height: 50%;
    border-radius: var(--bs-border-radius);
}

#header {
    height: 66px;
}

#chat {
    height: calc(100vh - 66px);
}

#chat-left {
    width: 300px;
}

@media screen and (max-width: 992px) {
    #chat-left {
        width: 100%;
    }
    #chat-right {
        width: 100%;
    }
}

.list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.list-group-item-delete {
    padding: 0;
    width: 42px;
    text-align: center;
    line-height: 42px;
}

#file-list .input-group {
    width: auto;
}