html, body {
    height: 100vh;
    max-height: 100vh;
}

textarea:focus,
textarea:active {
    outline:0px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.message-user pre {
    background-color: var(--bs-dark-bg-subtle) !important;
    border-radius: var(--bs-border-radius) !important;
}

.message-assistant pre {
    background-color: var(--bs-tertiary-bg) !important;
    border-radius: var(--bs-border-radius) !important;
}

pre code {
    padding: 5px;
    overflow: scroll;
}

md-block p {
    margin: 0;
}

#chat-left {
    width: 300px;
}

#header {
    height: 66px;
}

#chat {
    height: calc(100vh - 66px);
}

.card button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#file-list .input-group {
    width: auto;
}

p {
    margin-bottom: 10px !important;
}