@media screen and (max-width: 992px) {
    #chat-left {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow-y: visible;
    }

    #chat-right {
        width: 100%;
    }

    #message-list {
        padding: 0;
    }

    pre {
        width: 65vw;
    }
}