html,
body {
    min-height: 100vh;
}

.no-selection {
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
}

textarea:focus,
textarea:active {
    outline: 0px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.message-user pre {
    background-color: var(--bs-dark-bg-subtle) !important;
    border-radius: var(--bs-border-radius) !important;
}

.message-user .message-right {
    white-space: pre-wrap;
}

.message-assistant pre {
    background-color: var(--bs-tertiary-bg) !important;
    border-radius: var(--bs-border-radius) !important;
}

.message-system pre {
    background-color: var(--bs-tertiary-bg) !important;
    border-radius: var(--bs-border-radius) !important;
}

pre code {
    padding: 5px;
    overflow: auto;
}

pre {
    width: 60vw;
}

img {
    width: 50%;
    height: 50%;
    border-radius: var(--bs-border-radius);
    display: block;
}

#header {
    height: 42px;
}

#chat {
    height: calc(100vh - 42px);
}

#chat-left {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

#chat-input {
    resize: none;
}

#chat-file-list .input-group {
    width: auto;
}

.list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border-right: none;
}

.list-group-item-delete {
    padding: 0;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border-left: none;
    border-right: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.thumbnail-adjust {
    width: 200px;
    height: 200px;
    object-fit: contain;
    image-rendering: pixelated;
}